<section id="what-drives-me" class="section">
    <div class="container">
        <h2 class="section-title">What Drives Me</h2>
        <p>
            My passion lies in solving complex challenges within the ever-evolving fields of <b>cybersecurity</b> and <b>network engineering.</b> I am driven by the opportunity to craft innovative, scalable, and secure solutions that not only meet technical needs but also deliver measurable business outcomes.
        </p>
        <p>
            Collaboration fuels my drive. I thrive in environments where diverse perspectives come together to transform ideas into impactful strategies. Whether it’s working with <b>cross-functional teams</b>, aligning with <b>customer goals</b>, or bridging the gap between technical complexity and business value, I am motivated by the chance to make a meaningful difference.
        </p>
        <p>
            At the heart of what I do is a commitment to empowering organizations to stay ahead of emerging threats, embrace innovation, and achieve long-term success. Every solution I design is rooted in a purpose: to enable growth, foster resilience, and drive lasting impact in today’s fast-paced technological landscape
        </p>
    </div>
</section>