<section id="wireless-certification" class="section">
    <div class="container">
        <h2 class="section-title">Wireless Certifications</h2>
        <ul class="list-unstyled mt-4">
            <li class="highlight-list-item">
                <span class="icon-bg">
                    <i class="fa-solid fa-check"></i>
                </span>
                <span>
                    <b>CWNA -</b> Certified Wireless Network Administrator</span>
            </li>

            <li class="highlight-list-item">
                <span class="icon-bg">
                    <i class="fa-solid fa-check"></i>
                </span>
                <span>
                    <b>CWSP -</b> Certified Wireless Security Professional</span>
            </li>

            <li class="highlight-list-item">
                <span class="icon-bg">
                    <i class="fa-solid fa-check"></i>
                </span>
                <span><b>CWDP -</b> Certified Wireless Design
                    Professional</span>
            </li>
        </ul>
    </div>
</section>