<section id="text-primary text-uppercase" class="my-5 py-4">
    <div class="container mb-5">
        <h2 class="fw-bold fs-3 text-primary text-uppercase border-bottom pb-2">Wireless Certification</h2>
        <ul class="list-unstyled mt-4">
            <li class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-circle-check me-3 fa-lg"></i>
                <span><b>CWNA -</b> Certified Wireless Network Administrator</span>
            </li>
            <li class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-circle-check me-3 fa-lg"></i>       <span><b>CWSP -</b> Certified Wireless Security Professional</span>
            </li>
            <li class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-circle-check me-3 fa-lg"></i>        <span><b>CWDP -</b> Certified Wireless Design Professional</span>
            </li>
        </ul>
    </div>
</section>